import target/configs/powsybl-build-tools.jar!powsybl-build-tools/lombok.config
config.stopbubbling = true

# Privileging SLF4J for uncoupling code and logging library
lombok.log.apacheCommons.flagUsage = WARNING
lombok.log.flogger.flagUsage = WARNING
lombok.log.javaUtilLogging.flagUsage = WARNING
lombok.log.jbosslog.flagUsage = WARNING
lombok.log.log4j.flagUsage = WARNING
lombok.log.log4j2.flagUsage = WARNING
#lombok.log.slf4j.flagUsage = NONE
#lombok.log.xslf4j.flagUsage = NONE
